<h3>Search results for <%= @nation.first[:affiliation] %></h1>
<p>Total Members: <%= @nation.count %></p>
<div class="member_details">
  <% @nation.first(25).each do |mem| %>
    <div id="<%= mem[:_id]%>">
      <p>Name: <%= mem[:name] %></p>
      <p>Photo: <%= mem[:photoUrl] ? image_tag(mem[:photoUrl]) : "Unavailable" %></p>
      <p>Allies: <%= mem[:allies].empty? ? "None" : mem[:allies]  %></p>
      <p>Enemies: <%= mem[:enemies].empty? ? "None" : mem[:enemies] %></p>
      <p>Affiliation: <%= mem[:affiliation] %></p>
    </div>
  <% end %>
</div>